{% import '../__components/form__components.html' as form %}

<form class="form order-form" name="order">
  <div class="order-form__content form__content">

    {{ form.input_field(label='Ваше имя', type='text', name='name', required='true', addAttr='maxLength=32') }}

    {{ form.input_field(
      label = 'Ваш номер телефона',
      type='tel',
      name='phone',
      required='required',
      addAttr = 'data-tel-input'
    ) }}

    {{ form.input_field(
      label = 'Ваш e-mail',
      type='email',
      name='email',
      required='required',
      addAttr='maxLength=50'
    ) }}

    {{ form.input_field(label = 'Ваша компания',type='text', name='company', addAttr='maxLength=32') }}

    {{ form.textarea_field(
      label = 'Комментарий (если есть)',
      name = 'message',
      maxlength = '255'
    ) }}

    {{form.privacy_terms()}}
    {{ form.submit_button() }}
  </div>
</form>
{{ form.form_modal(title = 'Спасибо!', message= 'Ваше обращение успешно отправлено. Наш специалист свяжется с Вами в течение 15 минут.', id='success') }}
{{ form.form_modal(title = 'Что-то пошло не так...', message= 'Ваше обращение не было отправлено по техническим причинам, пожалуйста, попробуйте ещё раз', id='error') }}
