.privacy-link {
	text-decoration: underline;
  font-size: 14px;
}
.privacy {
	margin: 130px 0px 0px 0px;
}
.privacy__title {
	font-size: 32px;
	margin: 0px 0px 24px 0px;
}
.privacy__text {
	margin: 0px 0px 40px 0px;
}