<div class="categories-block-cloud desktop">
  <div class="categories-block-cloud-row translate-x-animation" style="animation-delay: -16s;">
    <div class="category" style="animation-delay: -16s; font-size: 28px;">
      Дата-Центр
    </div>
    <div class="category" style="animation-delay: -20s; font-size: 43px;">
      Colocation
    </div>
    <div class="category" style="animation-delay: 0s; font-size: 28px;">
      Размещение
    </div>    
  </div>
  <div class="categories-block-cloud-row translate-x-animation" style="animation-delay: -10s;">
    <div class="category" style="animation-delay: 0s; font-size: 28px;">
      Конфиденциальность
    </div>
    <div class="category" style="animation-delay: -4s; font-size: 43px;">
      Безопасность
    </div>
    <div class="category" style="animation-delay: -12s; font-size: 38px;">
      ЦОД
    </div>
  </div>
  <div class="categories-block-cloud-row translate-x-animation" style="animation-delay: -24s;">
    <div class="category" style="animation-delay: -10s; font-size: 32px;">
      Надежность
    </div>
    <div class="category" style="animation-delay: 0s; font-size: 43px;">
      Аренда сервера
    </div>
    <div class="category" style="animation-delay: -16s; font-size: 32px;">
      Dedicated
    </div>
  </div>
  <div class="categories-block-cloud-row translate-x-animation" style="animation-delay: -16s;">
    <div class="category" style="animation-delay: -16s; font-size:28px;">
      Сервис
    </div>
    <div class="category" style="animation-delay: -8s; font-size: 43px;">
      Администрирование
    </div>
    <div class="category" style="animation-delay: -8s; font-size: 32px;">
      Лизинг
    </div>
  </div>
</div>

<div class="categories-block-cloud mobile">
  <div class="categories-block-cloud-row translate-x-animation" style="animation-delay: -16s;">
    <div class="category" style="animation-delay: -16s; font-size: 20px;">
      Дата-Центр
    </div>
    <div class="category" style="animation-delay: -20s; font-size: 32px;">
      Colocation
    </div>
    <div class="category" style="animation-delay: 0s; font-size: 20px;">
      Размещение
    </div>    

  </div>
  <div class="categories-block-cloud-row translate-x-animation" style="animation-delay: -10s;">
    <div class="category" style="animation-delay: 0s; font-size: 20px;">
      Конфиденциальность
    </div>
    <div class="category" style="animation-delay: -4s; font-size: 32px;">
      Безопасность
    </div>
    <div class="category" style="animation-delay: -12s; font-size: 30px;">
      ЦОД
    </div>
  </div>
  <div class="categories-block-cloud-row translate-x-animation" style="animation-delay: -24s;">
    <div class="category" style="animation-delay: -10s; font-size: 22px;">
      Надежность
    </div>
    <div class="category" style="animation-delay: 0s; font-size: 32px;">
      Аренда сервера
    </div>
    <div class="category" style="animation-delay: -16s; font-size: 22px;">
      Dedicated
    </div>
  </div>
  <div class="categories-block-cloud-row translate-x-animation" style="animation-delay: -16s;">
    <div class="category" style="animation-delay: -16s; font-size:20px;">
      Сервис
    </div>
    <div class="category" style="animation-delay: -8s; font-size: 32px;">
      Администрирование
    </div>
    <div class="category" style="animation-delay: -8s; font-size: 22px;">
      Лизинг
    </div>
  </div>
</div>