{% set features = 
  [
    {
      title: "Дипломированный  персонал",
      text: "Наши специалисты ежегодно проходят дополнительное обучение и повышают свою квалификацию.",
      image: "employee.svg"
    },
    {
      title: "Соответствие международным стандартам ",
      text: "Уровень надежности соответствует международным стандартам Tier II+ и Tier III. Организация телекоммуникационной разводки соответствует стандарту TIA-942.",
      image: "standart.svg"
    },
    {
      title: "Бесперебойное энергообеспечение",
      text: "Несколько независимых электрических вводов в здание дата-центра. Автономные источники резервного питания APC Symmetra. Собственная электрогенераторная станция.",
      image: "power.svg"
    },
    {
      title: "Система безопасности",
      text: "Многоуровневая электронная система безопасности с двухфакторной авторизацией и идентификацией пользователей. Круглосуточная вооруженная охрана. Система видеонаблюдения HD-качества.",
      image: "safety.svg"
    },
    {
      title: "Охлаждение и вентиляция",
      text: "Совершенная система охлаждения и вентилирования. Круглосуточныи мониторинг температуры и влажности в помещении дата-центра. Современная система отчистки и подготовки воздуха",
      image: "cooling.svg"
    },
    {
      title: "Надёжные каналы связи",
      text: "Собственные высокоскоростные волоконно-оптические линии связи и профессиональное сетевое оборудование. Наличие соединения с федеральными операторами Российской Федерации.",
      image: "server.svg"
    }
  ]
%}

<section class="page__features features">
  <h2 class="features__title">О нашем дата-центре</h2>
  <div class="features__cards-container">
    {% for feature in features %}
    <div class="features-card card">
      <div class="card__header">
        <h5 class="card__title">
          {{feature.title}} 
        </h5>
        <div class="card__image">
          <img src="@img/features/{{feature.image}}" alt="feature-image">
        </div>
      </div>
      <div class="card__text">
        {{feature.text}}
      </div>
    </div>
    {% endfor %}
  </div>
</section>