$text-main-color: #f6f6f6;
$text-sec-color: #a38cd3;
$text-third-color: #c6c6c6;
$main-bg-color: #1c1035;
$el-bg-color: #3a2c56;
$primary-color: #706DE6;
$sec-color: #5bd6f1;
$main-font: "Montserrat";
