<section class="page__contacts contacts">
  <h2 class="contacts__title">Наши контакты</h2>

  <div class="contacts__list">
    <div class="contacts__item">
      <div class="contact__title">Телефон:</div>
      <div class="contact__text">
        <a href="tel:88005054534">8 (800) 505-45-34</a>
      </div>
    </div>
    <div class="contacts__item">
      <div class="contact__title">Наши месседжеры:</div>
      <div class="contact__social">
        <a href="https://t.me/Im_Server">
          <img class="ico" src="@img/icons/social_media/ico-tg.svg" alt="Иконка телеграм"/>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+79080888002&text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82%D1%81%D1%82%D0%B2%D1%83%D1%8E%21%20%D1%83%20%D0%BC%D0%B5%D0%BD%D1%8F%20%D0%B5%D1%81%D1%82%D1%8C%20%D0%B2%D0%BE%D0%BF%D1%80%D0%BE%D1%81%21">
          <img class="ico" src="@img/icons/social_media/ico-wa.svg" alt="Иконка ватсап"/>
        </a>
        <a href="viber://add?number=79080888002">
          <img class="ico" src="@img/icons/social_media/ico-viber.svg" alt="Иконка вайбер"/>
        </a>
      </div>
    </div>
    <div class="contacts__item">
      <div class="contact__title">Email:</div>
      <div class="contact__text">
        <a href="mailto:server@dedic74.ru">server@dedic74.ru</a>
      </div>
    </div>
    <div class="contacts__item">
      <div class="contact__title">Наши социальные сети:</div>
      <div class="contact__social">
        <a href="https://vk.com/dedic74">
          <img class="ico" src="@img/icons/social_media/ico-vk.svg" alt="Иконка вконтакте"/>
        </a>
        <a href="https://www.instagram.com/first_datacenter?utm_source=qr">
          <img class="ico" src="@img/icons/social_media/ico-inst.svg" alt="Иконка инстаграм"/>
        </a>
      </div>
    </div>
  </div>
</section>